<div id="table">
    <h3> List: Restaurants </h3>
    
    <table style="width: 100%">
        <tr class="heading">
            {% for heading in headings %}
                <th> {{heading}} </th>
            {% endfor %}
        </tr>

        <tr class="column">
            {% for column in columns %}
                <td> {{column}} </td>
                <td id="button" onclick="location.href='visit_by_restaurant.html'"> Link </td>
            {% endfor %}
        </tr>
    </table>
</div>